h1{
    text-align: center;
}
@media (max-width: 768px)  {
    .MyexperienceMob{

        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    
}