/* Navbar container */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.brand {
  font-size: 20px;
  font-weight: bold;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  background: none;
  border: none;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  font-size: 16px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Resume Button */
.resume-btn {
  background-color: black;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.resume-btn:hover {
  opacity: 0.8;
}

.download-icon {
  margin-left: 5px;
}

/* Hide resume button inside nav-links for desktop view */
.resume-mobile {
  display: none;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  /* Show Hamburger Menu in Mobile */
  .hamburger {
    display: block;
    position: absolute;
    right: 3px;
  }

  /* Hide Nav Links by Default on Mobile */
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  /* Show Nav Links When Menu is Open */
  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 10px;
  }

  /* Show Resume Button inside dropdown menu */
  .resume-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

  }

  /* Hide Resume Button in Desktop when in Mobile View */
  .resume-desktop {
    display: none;
  }
}
